*{
	margin: 0;
	padding: 0;
}
.main{
	padding: 100px 0px;
	overflow: hidden;
}
.container{
	width: 80%;
	margin: auto;
}
h1{
	font-size: 48px;
	color: #444235;
	line-height: 1.7;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.rs{
	font-size: 18px;
	color: #444235;
	line-height: 1.7;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0px 60px;
}
.col-4{
	margin-top:50px;
	max-width:  100%;
	position: relative;
	text-align: center;
}
.col-4-1{
	display: inline-block;
	vertical-align: top;
	opacity: .4;
}
.col-44{
	width: 15%;
}

.value{
	font-size: 74px;
	color: #d1af83 ;
}
.label{
	font-size: 18px;
	color: #d1af83;
}
p{
	font-size: 74px;
	color: #d1af83 ;
}


@media(max-width:980px){
	.col-44{
		width:12%;
	}
	.value{
	font-size: 50px;
}
.label{
	font-size: 16px;
}
p{
	font-size: 50px;
}
}
@media(max-width:750px){
	.rs{
		padding: 0px;
	}
	.col-44{
		width:12%;
	}
	.value{
	font-size: 40px;
}
.label{
	font-size: 14px;
}
p{
	font-size: 40px;
}
}
@media(max-width:590px){
	.col-44{
		width:12%;
	}
	.value{
	font-size: 30px;
}
.label{
	font-size: 14px;
}
p{
	font-size: 30px;
}
}
@media(max-width:490px){
	h1{
		font-size: 30px;
	}
	.col-44{
		width:12%;
	}
	.value{
	font-size: 30px;
}
.label{
	font-size: 14px;
}
p{
	font-size: 30px;
}
}
@media(max-width:430px){
	.col-44{
		width:12%;
	}
	.value{
	font-size: 25px;
}
.label{
	font-size: 14px;
}
p{
	font-size: 25px;
}
}
@media(max-width:330px){
	.col-44{
		width:12%;
	}
	.value{
	font-size: 20px;
}
.label{
	font-size: 12px;
}
p{
	font-size: 20px;
}
}



